arcade==2.6.17
attrs==23.1.0
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
contourpy==1.0.7
cycler==0.11.0
et-xmlfile==1.1.0
fonttools==4.39.4
idna==3.4
kiwisolver==1.4.4
matplotlib==3.7.1
numpy==1.24.3
openpyxl==3.1.2
packaging==23.1
pandas==2.0.2
Pillow==9.3.0
platformdirs==3.8.0
pooch==1.7.0
pycparser==2.21
pygame==2.5.1
pyglet==2.0.dev23
pymunk==6.4.0

pyparsing==3.0.9
python-dateutil==2.8.2
pytiled-parser==2.2.0
pytz==2023.3
requests==2.31.0
scipy==1.10.1
six==1.16.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3


Kivy==2.2.1
Pygments==2.16.1
